body{
	margin: 15px;
}

.searchbar{
	margin-left: 380px
}

.left{
	margin-left: 60px;
	width: 300px;
	margin-right: 40px;
}

.toggle{
	border-style: solid;
	border-width: 2px;
	border-color: black;
	height: 170px;
	padding: 10px;
}

.flex-container{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
	border-width: 2px;
	/* width: 270px; */
	padding: 15px;
}

.progress-tag{
	font-size: 10pt;
}

.degree-req{
	border-style: solid;
	border-width: 2px;
	padding: 15px;
}

.active-cyan input[type=text] {
	border-bottom: 1px solid #4dd0e1;
	box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa, .active-cyan-2 .fa {
	color: #4dd0e1;
}

.calendar{
	margin-right: 80px;
}