body{
	margin: 15px;
}

.waitlist-content{
	margin-left: 100px;
}
.redbutton{
	background-color: #FA8072;
	margin-left: 30px;
	width: 90px;
}

.greenbutton{
	background-color: #98FB98;
	margin-left: 30px;
	width: 90px;
}

.course{
	width:1000px;
	display: flex;
	align-content: space-between;
}

.list-group-item{
	width: 600px;
}

.emailbutton{
	margin-left: 30px;
	width: 90px;
}

.input-group-text{
	margin-left: 30px;
	background-color: white;
	border-color: #6495ED;
	background-color: #6495ED;
	color: white;
}

.section-title{
	font-weight: bold;
	font-size: 24px;
}




